@charset "utf-8";
/* CSS Document */
html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
}

#carga{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#principal{
	display: none;
}
.cabeza{
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 130px;
	z-index: 62;
}

.cabeza video {
	display: block;
	margin: 0px;
}

.menu{
	background-color: white;
	opacity: 0.9;
	margin: 0 auto;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 100;
}

.encabezado #logo{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 62;
	margin-block-end: 0;
	margin-block-stard: 0;
	bottom: 0;
}
.encabezado #logo img{
	height: 95%
}

.encabezado #navegacion ul{
	list-style: none;
	text-align: right;
	padding-bottom: 25px;
	padding-left: 150px;
	padding-right: 40px;
	margin: 0
}

.encabezado #navegacion ul li{
	display: inline-block;
	width: 150px;
	padding-top: 40px;
	position: relative;
}

.encabezado #navegacion ul li a{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	font-size: 20px;
	color: black;
	display: block;
	padding: 10px 10px;
	text-decoration: none;
}

.encabezado #navegacion ul li a:hover{
	color: #bce784;
	text-shadow: 2px 2px 2px 2px;
}
.nosotros{
	position: relative;
}
.nosotros #titulo{
	display: inline-block;
	width: 20%;
}

.nosotros #toska-container{
	display: inline-block;
	width: 68%;
}
.nosotros #toska{
	position: relative;
	text-align: center;
	opacity: 0.19;
	margin-top: 40px;
	
}


.nosotros #text{
	position: absolute;
	font-size: 35px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	top: 21%;
}
.nosotros figure{
	margin: 0px;
}
.nosotros #forma {
	text-align: right;
	position: absolute;
	top: -130px;
	right: 0
	
}

.grid-3 {
	max-height: 507px;
}

.grid-3 .item{
	width: 33.03%;
	height: 507px;
	display: inline-block;
	position: relative;
}

.grid-3 .item img{
	height: 100%;
	width: 101%;
}

.grid-3 .tex{
	font-size: 1.5em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	text-align: center;
	background-color: #873277;
	width: 101%;
	height: 507px;
	margin: 0;
	
}

.grid-3 .tex h2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid-3 .lineas{
	position: absolute;
	width: 350px;
	top: 164px;
	left: 50%;
	transform: translate(-50%);
}

.grid-3 .lineas img{
	width: 100%;
	height: 238px;
}

.grid-3.identidad .item {
	height: 380px;
}

.grid-3.identidad .tex{
	background-color: white;
	color: black;
	height: 380px;
}

.grid-3.identidad .tex h2{
	top: 39%;
}

.grid-3.identidad .lineas img{
	height: 200px;
}

.grid-3.identidad .lineas{
	top: 81px;
}


.grid-3.flyers .tex{
    background-color: #bcd685;
}

.grid-3.packaging .tex{
    background-color: white;
	color: black;
}

.grid-3.fotografia .tex{
	background-color: #535274;
}

footer{
	margin-top: 40px;
	background-color:#535274;
	color: white;
	height: 250px;
}

Footer #tel img {
    margin-top: 32px;
	margin-left: 60px;
}

footer h4{
	font-size: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin-top: -187px;
}


footer .sociales{
	text-align: center;
}

footer .sociales figure{
	display: inline-block;
}

footer h6{
	position: relative;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	top: 15px;
	height: 0;
	margin-block-start: 0;
    margin-block-end: 0;
}
footer h3{
	font-size: 18px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

footer #derechos{
	position: absolute;
	right: 40px;
}